CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

[Bb]uild/
.vscode/
.vs/
out/
res/testing/

# Clang
.clang-format
.cache/

# Nix
.direnv

# Clangd
.clang-format
compile_commands.json
.cache/

# Other
res/models/main_sponza/
